<div class="h-screen border-yellow-300 border-2 rounded-xl mt-4">
  <div
    class="flex h-full w-full justify-center items-center space-x-2 px-[calc(16vw)]"
  >
    <div
      class="border-2 border-white h-[calc(32vw)] basis-1/4 rounded-3xl"
    ></div>
    <div
      class="border-2 border-white h-[calc(32vw)] basis-1/4 rounded-3xl"
    ></div>
    <div
      class="border-2 border-white h-[calc(32vw)] basis-1/4 rounded-3xl"
    ></div>
    <div
      class="border-2 border-white h-[calc(32vw)] basis-1/4 rounded-3xl"
    ></div>
  </div>
</div>
