<div class="h-screen border-yellow-300 border-2 rounded-xl mt-4">
  <div
    class="flex h-full w-full justify-center items-center space-x-4 px-[calc(10vw)]"
  >
    <div
      class="border-2 border-white md:h-[calc(32vw)] md:basis-1/4 md:flex md:flex-col md:text-[calc(2.1vw)] md:pl-16 md:justify-center flexboxes"
      id="flexboxes1"
    >
      <span>L</span>
      <span>U</span>
      <span>N</span>
      <span>C</span>
      <span>H</span>
      <div class="pl-8 flex flex-col">
        <span>B</span>
        <span>U</span>
        <span>D</span>
        <span>D</span>
        <span>Y</span>
      </div>
    </div>

    <div
      class="border-2 border-white md:h-[calc(32vw)] md:basis-1/4 md:flex md:flex-col md:text-[calc(2.1vw)] md:pl-16 md:justify-center flexboxes"
      id="flexboxes2"
    >
      <span>Q</span>
      <span>U</span>
      <span>I</span>
      <span>C</span>
      <span>K</span>
      <div class="pl-8 flex flex-col">
        <span>T</span>
        <span>Y</span>
        <span>P</span>
        <span>E</span>
      </div>
    </div>
    <div
      class="border-2 border-white md:h-[calc(32vw)] md:basis-1/4 md:flex md:flex-col md:text-[calc(2.1vw)] md:pl-16 md:justify-center flexboxes"
      id="flexboxes3"
    >
      <span>T</span>
      <span>H</span>
      <span>I</span>
      <span>S</span>
      <div class="pl-8 flex flex-col">
        <span>S</span>
        <span>I</span>
        <span>T</span>
        <span>E</span>
      </div>
    </div>
    <div
      class="border-2 border-white md:h-[calc(32vw)] md:basis-1/4 md:flex md:flex-col md:text-[calc(2.1vw)] md:pl-16 md:justify-center flexboxes"
      id="flexboxes4"
    >
      <span>P</span>
      <span>O</span>
      <span>K</span>
      <span>E</span>
      <div class="pl-8 flex flex-col">
        <span>H</span>
        <span>O</span>
        <span>M</span>
        <span>E</span>
      </div>
    </div>
  </div>
</div>
