<div
  class="md:h-[calc(1400px)] md:w-full md:flex-col text-center md:items-center justify-center"
  id="purpleBG"
>
  <div class="pt-24 text-white flex justify-center">
    <div class="pb-4 md:w-[calc(552px)] flex-col justify-center items-center">
      <div class="font-bold text-3xl p-4">Hello, I'm Andrew.</div>
      <div class="text-xl pb-20">
        Hi, my name is Andrew Alvarez, I have passion for Computer Science,
        particularly in the field of Web Development and Artificial
        Intelligence. I love working with new people, if you want me to work for
        you please contact me on my email. Thank you
      </div>
    </div>
  </div>

  <div
    class="md:flex-col md:items-center md:justify-center md:text-center"
    id=""
  >
    <div class="text-3xl text-white">< Frontend skills ></div>
    <div id="body" class="h-full">
      <div id="slider" class="">
        <div id="slider-track" class="">
          <div id="slide">
            <img src="../../../assets/angular.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/chatPic.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/coffeBlack.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/images.jpeg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/keyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/lunchbuddy.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/mankeyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/Purple.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/svelte.jpg" alt="" />
          </div>

          <!-- SECOND HALF -->

          <div id="slide">
            <img src="../../../assets/angular.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/chatPic.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/coffeBlack.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/images.jpeg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/keyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/lunchbuddy.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/mankeyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/Purple.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/svelte.jpg" alt="" />
          </div>

          <!-- 3RD  -->

          <div id="slide">
            <img src="../../../assets/angular.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/chatPic.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/coffeBlack.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/images.jpeg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/keyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/lunchbuddy.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/mankeyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/Purple.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/svelte.jpg" alt="" />
          </div>

          <div id="slide">
            <img src="../../../assets/angular.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/chatPic.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/coffeBlack.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/images.jpeg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/keyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/lunchbuddy.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/mankeyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/Purple.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/svelte.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-3xl text-white pt-4 pb-4">&lt;/ Frontend skills &gt;</div>
  <div class="flex justify-center">
    <div class="w-[calc(1000px)]">
      <img class="" src="../../../assets/Githubstats.svg" alt="Github stats" />
    </div>
  </div>
  <div class="text-3xl text-white pt-6 pb-4">&lt; Backend skills &gt;</div>
</div>
