<div class="md:h-[calc(160vh)] md:w-full md:flex-col text-center" id="purpleBG">
  <div class="md:h-[calc(%)] py-24">Ddwdwa dwadawa da daw</div>

  <div
    class="border-2 border-yellow-200 md:flex md:justify-center md:h-[calc(70%)]"
    id=""
  >
    <div id="body" class="h-full w-[calc(1210px)]">
      <div id="slider" class="">
        <div id="slider-track" class="">
          <div id="slide">
            <img src="../../../assets/angular.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/chatPic.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/coffeBlack.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/images.jpeg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/keyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/lunchbuddy.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/mankeyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/Purple.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/svelte.jpg" alt="" />
          </div>

          <!-- SECOND HALF -->

          <div id="slide">
            <img src="../../../assets/angular.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/chatPic.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/coffeBlack.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/images.jpeg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/keyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/lunchbuddy.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/mankeyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/Purple.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/svelte.jpg" alt="" />
          </div>

          <!-- 3RD  -->

          <div id="slide">
            <img src="../../../assets/angular.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/chatPic.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/coffeBlack.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/images.jpeg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/keyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/lunchbuddy.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/mankeyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/Purple.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/svelte.jpg" alt="" />
          </div>

          <div id="slide">
            <img src="../../../assets/angular.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/chatPic.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/coffeBlack.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/images.jpeg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/keyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/lunchbuddy.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/mankeyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/Purple.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/svelte.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
