<div id="logos" class="overflow-hidden w-full bg-white flex">
  <div
    id="logos-slide"
    class="whitespace-nowrap w-full flex text-9xl text-center items-center"
  >
    <img src="../../../assets/angular.jpg" alt="" />
    <img src="../../../assets/chatPic.jpg" alt="" />
    <img src="../../../assets/coffeBlack.jpg" alt="" />
    <img src="../../../assets/images.jpeg" alt="" />
    <img src="../../../assets/keyboard.jpg" alt="" />
    <img src="../../../assets/lunchbuddy.jpg" alt="" />
    <img src="../../../assets/mankeyboard.jpg" alt="" />
    <img src="../../../assets/Purple.jpg" alt="" />
    <img src="../../../assets/svelte.jpg" alt="" />
  </div>
</div>
