<section
  id="header"
  class="flex justify-between text-3xl items-center sticky top-0 bg-BlacK rounded-xl z-10 w-screen h-[calc(2.9rem)]"
>
  <div class="font-bold ml-2 flex gap-3">
    <fa-icon [icon]="faComputerMouse"></fa-icon>
    <div class="w-fit">Andrew</div>
  </div>
  <section class="font-thin center hidden gap-16 pr-4 text-2xl md:flex mt-1">
    <div class="">Home</div>
    <div class="">Projects</div>
    <div class="">Skills</div>
    <div class="text-blue-500 ml-16" id="link">
      <fa-icon [icon]="faMailReplyAll"></fa-icon>
      Contact
    </div>
  </section>
</section>
