<div class="w-full h-full mb-36 md:mt-[calc(8rem)] mt-[calc(1rem)]">
  <div id="textHub" class="inline-flex justify-center w-full">
    <div class="rotate-45 bg-clip-text" id="rainbowEff">P</div>
    <div
      class="md:translate-y-16 -rotate-12 -1 bg-clip-text translate-y-8"
      id="rainbowEff"
    >
      R
    </div>
    <div
      class="md:translate-y-12 -rotate-45 -1 bg-clip-text translate-y-6"
      id="rainbowEff"
    >
      O
    </div>
    <div
      class="md:translate-y-20 -rotate-12 -1 bg-clip-text translate-y-9"
      id="rainbowEff"
    >
      J
    </div>
    <div
      class="md:translate-y-24 rotate-45 -1 bg-clip-text translate-y-4"
      id="rainbowEff"
    >
      E
    </div>
    <div
      class="md:translate-y-14 rotate-180 -1 bg-clip-text translate-y-7"
      id="rainbowEff"
    >
      C
    </div>
    <div
      class="md:translate-y-12 -rotate-45 -1 bg-clip-text translate-y-6"
      id="rainbowEff"
    >
      T
    </div>
    <div class="-rotate-12 -1 bg-clip-text" id="rainbowEff">S</div>
  </div>
</div>
