<div
  class="w-[calc(70vw)] mb-36 md:mt-[calc(6rem)] mt-16 md:h-[calc(12vw)] bg-gradient-to-r from-violet-500 to-fuchsia-500 rounded-r-full"
>
  <div id="textHub" class="inline-flex w-full ml-[calc(2vw)]">
    <div class="bg-clip-text" id="rainbowEff">P</div>
    <div class="bg-clip-text" id="rainbowEff">R</div>
    <div class="bg-clip-text" id="rainbowEff">O</div>
    <div class="bg-clip-text" id="rainbowEff">J</div>
    <div class="bg-clip-text" id="rainbowEff">E</div>
    <div class="bg-clip-text" id="rainbowEff">C</div>
    <div class="bg-clip-text" id="rainbowEff">T</div>
    <div class="bg-clip-text" id="rainbowEff">S</div>
  </div>
</div>
