#rainbowEff {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    grey
  );
  background-clip: text;
  color: transparent;
  animation: rainbowAni 6s linear infinite;
  background-size: 400%;
}
@keyframes rainbowAni {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

#textHub {
  gap: 4vw;
  font-size: 8vw;
  background: linear-gradient(to right, #202020 0%, #d946ef 0%, #202020 40%);
}
#background {
  /* background-image: repeating-linear-gradient(#d946ef 0%, #181618 20%); */
}
