#rainbowEff {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    brown,
    red,
    orange,
    yellow,
    brown,
    red,
    orange,
    yellow,
    brown
  );
  background-clip: text;
  color: transparent;
  animation: rainbowAni 30s linear infinite;
  background-size: 600%;
}
@keyframes rainbowAni {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

#textHub {
  gap: 4vw;
  font-size: 8vw;
  background: #8673a1;
}
/* #background {
  background-image: repeating-linear-gradient(#d946ef 0%, #181618 20%); 
} */
