<div
  class="w-full mb-36 md:mt-[calc(6rem)] mt-16 md:h-[calc(12vw)] to-BlacK rounded-r-full overflow-auto"
  id="background"
>
  <div id="textHub" class="flex pl-2 w-[calc(70vw)] rounded-r-full">
    <div class="bg-clip-text" id="rainbowEff">P</div>
    <div class="bg-clip-text" id="rainbowEff">R</div>
    <div class="bg-clip-text" id="rainbowEff">O</div>
    <div class="bg-clip-text" id="rainbowEff">J</div>
    <div class="bg-clip-text" id="rainbowEff">E</div>
    <div class="bg-clip-text" id="rainbowEff">C</div>
    <div class="bg-clip-text" id="rainbowEff">T</div>
    <div class="bg-clip-text" id="rainbowEff">S</div>
  </div>
</div>
