<div
  class="w-full mb-20 md:mt-[calc(6rem)] mt-16 md:h-[calc(8vw)] rounded-r-full justify-center flex"
  id="background"
>
  <div
    id="textHub"
    class="flex w-[calc(51vw)] rounded-t-3xl rounded-b-3xl font-serif h-full items-center justify-center"
  >
    <div class="bg-clip-text" id="rainbowEff">S</div>
    <div class="bg-clip-text" id="rainbowEff">K</div>
    <div class="bg-clip-text" id="rainbowEff">I</div>
    <div class="bg-clip-text" id="rainbowEff">L</div>
    <div class="bg-clip-text" id="rainbowEff">L</div>
    <div class="bg-clip-text" id="rainbowEff">S</div>
  </div>
</div>
