<div
  class="customSize:h-[calc(1450px)] customSize:w-full customSize:flex-col text-center customSize:items-center justify-center"
  id="purpleBG"
>
  <div
    class="text-3xl customSize:w-[calc(1080px)] m-auto hidden customSize:block customSize:text-left text-gray-300 font-bold mb-4"
  >
    &lt; Backend >
  </div>
  <div
    class="customSize:flex-col customSize:items-center customSize:justify-center customSize:text-center"
    id=""
  >
    <div class="hidden customSize:block customSize:mb-4">
      <div id="slider" class="">
        <div id="slider-track" class="">
          <div id="slide">
            <img src="../../../assets/angular.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/chatPic.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/coffeBlack.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/images.jpeg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/keyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/lunchbuddy.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/mankeyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/Purple.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/svelte.jpg" alt="" />
          </div>

          <!-- SECOND HALF -->

          <div id="slide">
            <img src="../../../assets/angular.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/chatPic.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/coffeBlack.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/images.jpeg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/keyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/lunchbuddy.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/mankeyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/Purple.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/svelte.jpg" alt="" />
          </div>

          <!-- 3RD  -->

          <div id="slide">
            <img src="../../../assets/angular.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/chatPic.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/coffeBlack.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/images.jpeg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/keyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/lunchbuddy.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/mankeyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/Purple.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/svelte.jpg" alt="" />
          </div>

          <div id="slide">
            <img src="../../../assets/angular.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/chatPic.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/coffeBlack.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/images.jpeg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/keyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/lunchbuddy.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/mankeyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/Purple.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/svelte.jpg" alt="" />
          </div>
        </div>
      </div>
      <div
        class="text-3xl customSize:w-[calc(1080px)] m-auto hidden customSize:block customSize:text-left text-gray-300 font-bold mt-6"
      >
        &lt;/ Backend >
      </div>
      <div
        class="text-3xl customSize:w-[calc(1200px)] m-auto hidden customSize:block customSize:text-left text-gray-300 font-bold mt-4"
      >
        &lt;/ Skills >
      </div>
      <div
        class="text-3xl customSize:w-[calc(1200px)] m-auto hidden customSize:block customSize:text-left text-gray-300 font-bold mt-2 mb-8"
      >
        &lt; Projects >
      </div>
      <div
        class="w-[calc(1200px)] m-auto h-[calc(800px)] flex-col align-middle"
        id="boxholder"
      >
        <div
          class="w-[calc(80%)] m-auto customSize:flex customSize:flex-col hidden border-2 border-yellow-300 pl-6 pt-2 text-left"
          id="boxes"
        >
          <div class="text-2xl">This Portfolio Site</div>
          <div class="text-xl">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta
            enim nibh. Vestibulum ante ipsum primis in faucibus orci luctus et
            ultrices posuere cubilia curae;
          </div>
        </div>
        <div
          class="w-[calc(80%)] m-auto customSize:flex customSize:flex-col hidden border-2 border-yellow-300 pl-6 pt-2 text-left"
          id="boxes"
        >
          <div class="text-2xl">Lunch Buddy</div>
          <div class="text-xl">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta
            enim nibh. Vestibulum ante ipsum primis in faucibus orci luctus et
            ultrices posuere cubilia curae;
          </div>
        </div>
        <div
          class="w-[calc(80%)] m-auto customSize:flex customSize:flex-col hidden border-2 border-yellow-300 pl-6 pt-2 text-left"
          id="boxes"
        >
          <div class="text-2xl">Poke Home</div>
          <div class="text-xl">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta
            enim nibh. Vestibulum ante ipsum primis in faucibus orci luctus et
            ultrices posuere cubilia curae;
          </div>
        </div>
        <div
          class="w-[calc(80%)] m-auto customSize:flex customSize:flex-col hidden border-2 border-yellow-300 pl-6 pt-2 text-left"
          id="boxes"
        >
          <div class="text-2xl">Quick Type</div>
          <div class="text-xl">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta
            enim nibh. Vestibulum ante ipsum primis in faucibus orci luctus et
            ultrices posuere cubilia curae;
          </div>
        </div>
        <div
          class="text-3xl mt-8 customSize:w-[calc(1200px)] m-auto hidden customSize:block customSize:text-left text-gray-300 font-bold"
        >
          &lt;/ Projects >
        </div>
      </div>
    </div>
  </div>
</div>
