<div
  #content
  class="customSize:h-[calc(1240px)] customSize:w-full customSize:flex-col text-center customSize:items-center justify-center"
  id="purpleBG"
>
  <div
    class="text-3xl customSize:w-[calc(1080px)] m-auto hidden customSize:block customSize:text-left text-gray-300 font-bold mb-4"
  >
    &lt; Backend >
  </div>
  <div
    class="customSize:flex-col customSize:items-center customSize:justify-center customSize:text-center"
    id=""
  >
    <div class="hidden customSize:block customSize:mb-4">
      <div id="slider" class="">
        <div id="slider-track" class="">
          <div id="slide">
            <img src="../../../assets/angular.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/chatPic.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/coffeBlack.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/images.jpeg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/keyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/lunchbuddy.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/mankeyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/Purple.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/svelte.jpg" alt="" />
          </div>

          <!-- SECOND HALF -->

          <div id="slide">
            <img src="../../../assets/angular.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/chatPic.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/coffeBlack.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/images.jpeg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/keyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/lunchbuddy.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/mankeyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/Purple.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/svelte.jpg" alt="" />
          </div>

          <!-- 3RD  -->

          <div id="slide">
            <img src="../../../assets/angular.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/chatPic.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/coffeBlack.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/images.jpeg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/keyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/lunchbuddy.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/mankeyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/Purple.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/svelte.jpg" alt="" />
          </div>

          <div id="slide">
            <img src="../../../assets/angular.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/chatPic.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/coffeBlack.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/images.jpeg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/keyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/lunchbuddy.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/mankeyboard.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/Purple.jpg" alt="" />
          </div>
          <div id="slide">
            <img src="../../../assets/svelte.jpg" alt="" />
          </div>
        </div>
      </div>
      <div
        class="text-3xl customSize:w-[calc(1080px)] m-auto hidden customSize:block customSize:text-left text-gray-300 font-bold mt-6"
      >
        &lt;/ Backend >
      </div>
      <div
        class="text-3xl customSize:w-[calc(1200px)] m-auto hidden customSize:block customSize:text-left text-gray-300 font-bold mt-4"
      >
        &lt;/ Skills >
      </div>
      <div
        class="text-3xl customSize:w-[calc(1200px)] m-auto hidden customSize:block customSize:text-left text-gray-300 font-bold mt-2 mb-8"
      >
        &lt; Projects >
      </div>
      <div
        class="w-[calc(1200px)] m-auto h-[calc(800px)] flex-col align-middle"
        id="boxholder"
      >
        <div
          class="1 w-[calc(90%)] m-auto border-2 border-backG rounded-xl px-6 py-2 text-left"
          id="boxes"
          value="1"
          (mouseover)="mouseOver()"
          (mouseout)="mouseOut()"
        >
          <div #small1 class="flex-col" id="">
            <div class="text-2xl">Lunch Buddy</div>
            <div class="text-xl">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
              porta enim nibh. Vestibulum ante ipsum primis in faucibus orci
              luctus et ultrices posuere cubilia curae;
            </div>
            <div class="self-center opacity-50">Hover</div>
          </div>
          <div #large1 class="flex h-[calc(400px)]">
            <div
              class="basis-3/5 flex flex-col text-center justify-center pr-6"
            >
              <div class="text-5xl pb-4">Lunch Buddy</div>
              <div class="text-xl">
                Lunch Buddy is a "Social Media" site which allows you to find a
                buddy to go out for lunch with. Used many APIS and libraries
                like Geolocation, Yelp API, Google API, Tailwind, Socket IO, and
                much more.
              </div>
              <div class="text-3xl">
                <button
                  class="mr-8 mt-4 border-2 border-BlacK rounded-3xl px-4 py-2 bg-mainCOLOR w-36"
                >
                  Site
                </button>
                <button
                  class="border-2 border-BlacK rounded-3xl px-4 py-[calc(0.6rem)] bg-green-400 w-36"
                >
                  Github
                </button>
              </div>
            </div>
            <img
              src="../../../assets/lunchbuddy.jpg"
              class="basis-1/4 rounded-r-xl"
            />
          </div>
        </div>
        <div
          class="1 w-[calc(90%)] m-auto border-2 border-backG rounded-xl px-6 py-2 text-left"
          id="boxes"
          value="2"
          (mouseover)="mouseOver()"
          (mouseout)="mouseOut()"
        >
          <div #small2 class="flex-col" id="">
            <div class="text-2xl">Lunch Buddy</div>
            <div class="text-xl">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
              porta enim nibh. Vestibulum ante ipsum primis in faucibus orci
              luctus et ultrices posuere cubilia curae;
            </div>
            <div class="self-center opacity-50">Hover</div>
          </div>
          <div #large2 class="flex h-[calc(400px)]">
            <div
              class="basis-3/5 flex flex-col text-center justify-center pr-6"
            >
              <div class="text-5xl pb-4">Lunch Buddy</div>
              <div class="text-xl">
                Lunch Buddy is a "Social Media" site which allows you to find a
                buddy to go out for lunch with. Used many APIS and libraries
                like Geolocation, Yelp API, Google API, Tailwind, Socket IO, and
                much more.
              </div>
              <div class="text-3xl">
                <button
                  class="mr-8 mt-4 border-2 border-BlacK rounded-3xl px-4 py-2 bg-mainCOLOR w-36"
                >
                  Site
                </button>
                <button
                  class="border-2 border-BlacK rounded-3xl px-4 py-[calc(0.6rem)] bg-green-400 w-36"
                >
                  Github
                </button>
              </div>
            </div>
            <img
              src="../../../assets/lunchbuddy.jpg"
              class="basis-1/4 rounded-r-xl"
            />
          </div>
        </div>
        <div
          class="1 w-[calc(90%)] m-auto border-2 border-backG rounded-xl px-6 py-2 text-left"
          id="boxes"
          value="3"
          (mouseover)="mouseOver()"
          (mouseout)="mouseOut()"
        >
          <div #small3 class="flex-col" id="">
            <div class="text-2xl">Lunch Buddy</div>
            <div class="text-xl">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
              porta enim nibh. Vestibulum ante ipsum primis in faucibus orci
              luctus et ultrices posuere cubilia curae;
            </div>
            <div class="self-center opacity-50">Hover</div>
          </div>
          <div #large3 class="flex h-[calc(400px)]">
            <div
              class="basis-3/5 flex flex-col text-center justify-center pr-6"
            >
              <div class="text-5xl pb-4">Lunch Buddy</div>
              <div class="text-xl">
                Lunch Buddy is a "Social Media" site which allows you to find a
                buddy to go out for lunch with. Used many APIS and libraries
                like Geolocation, Yelp API, Google API, Tailwind, Socket IO, and
                much more.
              </div>
              <div class="text-3xl">
                <button
                  class="mr-8 mt-4 border-2 border-BlacK rounded-3xl px-4 py-2 bg-mainCOLOR w-36"
                >
                  Site
                </button>
                <button
                  class="border-2 border-BlacK rounded-3xl px-4 py-[calc(0.6rem)] bg-green-400 w-36"
                >
                  Github
                </button>
              </div>
            </div>
            <img
              src="../../../assets/lunchbuddy.jpg"
              class="basis-1/4 rounded-r-xl"
            />
          </div>
        </div>
        <div
          class="1 w-[calc(90%)] m-auto border-2 border-backG rounded-xl px-6 py-2 text-left"
          id="boxes"
          value="4"
          (mouseover)="mouseOver()"
          (mouseout)="mouseOut()"
        >
          <div #small4 class="flex-col" id="">
            <div class="text-2xl">PortF</div>
            <div class="text-xl">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
              porta enim nibh. Vestibulum ante ipsum primis in faucibus orci
              luctus et ultrices posuere cubilia curae;
            </div>
            <div class="self-center opacity-50">Hover</div>
          </div>
          <div #large4 class="flex h-[calc(400px)]">
            <div
              class="basis-3/5 flex flex-col text-center justify-center pr-6"
            >
              <div class="text-5xl pb-4">Lunch Buddy</div>
              <div class="text-xl">
                Lunch Buddy is a "Social Media" site which allows you to find a
                buddy to go out for lunch with. Used many APIS and libraries
                like Geolocation, Yelp API, Google API, Tailwind, Socket IO, and
                much more.
              </div>
              <div class="text-3xl">
                <button
                  class="mr-8 mt-4 border-2 border-BlacK rounded-3xl px-4 py-2 bg-mainCOLOR w-36"
                >
                  Site
                </button>
                <button
                  class="border-2 border-BlacK rounded-3xl px-4 py-[calc(0.6rem)] bg-green-400 w-36"
                >
                  Github
                </button>
              </div>
            </div>
            <img
              src="../../../assets/lunchbuddy.jpg"
              class="basis-1/4 rounded-r-xl"
            />
          </div>
        </div>

        <div
          class="text-3xl mt-8 customSize:w-[calc(1200px)] m-auto hidden customSize:block customSize:text-left text-gray-300 font-bold"
        >
          &lt;/ Projects >
        </div>
      </div>
    </div>
  </div>
</div>
