<div class="w-[calc(1100px)] m-auto flex justify-between text-4xl mb-10">
  <div class="flex text-end content-end items-end">
    <p class="text-5xl text-mainCOLOR">A</p>
    <p class="text-4xl p-[calc(.05rem)]">ndrew</p>
  </div>
  <div class="text-2xl flex text-end content-end items-end">
    <div
      class="rounded-xl border-2 px-2 mb-1 mt-2 border-mainCOLOR flex items-center"
    >
      Contact
      <img
        src="../../../assets/right-arrow-svgrepo-com.svg"
        alt=""
        class="h-5 w-4 ml-2 flex"
      />
    </div>
  </div>
</div>
<!-- <div class="sticky">Hi</div> -->
