@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #8673a1;
  background: #181618;
  scrollbar-width: none;
  font-family: "Courier New", Courier, monospace;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
